<div class="profile-image">
  <a href="https://www.linkedin.com/profile/view?id={{ site.linkedin_id }}" target="_blank"><img class="img-center" src="images/nathan-eanes2.jpg" alt="Visit me on LinkedIn" title="Visit me on LinkedIn" /></a>
</div>

<div class="prefooter">
  <div class="wrapper">
    <h2>Relevant <strong>Skills</strong> &amp; Experience</h2>
    
    <ul class="rows">
      <li>Custom Drupal module development</li>
      <li>Planning and development of complex websites</li>
      <li>Front-end performance</li>
      <li>CSS Preprocessors such as Sass, Compass, and Susy</li>
      <li>Mobile-first responsive design</li>
      <li>CRMs and Fundraising platforms</li>
      <li>Project strategy</li>
      <li>Client relations & training</li>
      <li>Git workflows and Drush</li>
    </ul>
    
    <h2>I Have <strong>Worked</strong> With</h2>
    
    <ul class="float">
      <li>The U.S. House of Representatives</li>
      <li><a href="http://www.aspca.org" target="_blank">The ASPCA</a></li>
      <li><a href="http://www.ifaw.org" target="_blank">IFAW</a></li>
      <li><a href="http://www.visualatte.com/portfolio/activerx" target="_blank">ActiveRx, Inc.</a></li>
      <li>HIV/AIDS Coordinating Networks (NIH)</li>
      <li><a href="http://www.visualatte.com/portfolio/george-e-delallo-inc" target="_blank">DeLallo Italian Foods</a></li>
      <li>Saint Mary's College</li>
      <li>...and many others</li>
    </ul>
  </div>
</div>

<footer class="site-footer">

  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>contact: <strong>412.450.0539</strong></li>
          <li>location: <strong><a href="https://www.google.com/maps/place/Harrisonburg,+VA/@38.4393105,-78.8711824,13z/data=!3m1!4b1!4m2!3m1!1s0x89b492c33f077155:0x84e65b9dabd7b5f" target="_blank">Harrisonburg, VA</a></strong></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.linkedin_id %}
            {% include _icons/linkedin.html %}
          {% endif %}
          
          {% if site.github_username %}
            {% include _icons/github.html %}
          {% endif %}

          {% if site.twitter_username %}
            {% include _icons/twitter.html %}
          {% endif %}
        </ul>
      </div>
      
    </div>

  </div>

</footer>
